@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
canvas{
  width:100%;
  height:100%;
  background:#000;
}
body, html{
  height:100%;
  margin:0;
}
h1{
  color:#a0a0a0;
  text-shadow: 1px 1px 1px #000;
  margin:auto;
  padding: 10px;
  font-family: 'Happy Monkey', cursive;
}
span{
  color: #7fcc60;
}